body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
}

.new-arrivals-container {
  display: flex;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.item {
  flex-basis: 20%;
  margin-left: 16px;
  margin-right: 16px;
}

.item-image {
  width: 216px;
  height: 336px;
  margin-bottom: 16px;
}

.item-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-details,
.item-price {
  font-size: 14px;
}

.item-size,
.retail-price {
  color: lightgray;
}

.retail-price {
  text-decoration: line-through;
}

.item-size {
  box-sizing: border-box;
  border-left: 1px solid lightgray;
  padding-left: 4px;
}

.markdown {
  background-color: rgb(253 242 232);
  border-radius: 10px;
  padding: 2px;
  margin-right: 4px;
}

.brand {
  margin-right: 4px;
}

.item-details {
  margin-bottom: 16px;
}
