.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: "Tiempos Headline", "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.header-row {
  display: flex;
  border-bottom: 2px solid rgb(237 237 240);
}

.header-left-column {
  width: calc(100% / 3);
}

.header-logo {
  width: 40%;
  margin-top: 25px;
  margin-left: 100px;
  margin-bottom: 15px;
}

.header-right-column {
  width: calc(2 * 100% / 3);
  text-align: right;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(178 178 178);
  margin-top: auto;
  margin-right: 100px;
  margin-bottom: auto;
  font-weight: bold;
}

.header-right-column > a {
  padding-left: 50px;
}

.contact-us-button {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  background-color: rgb(48 67 98);
  border-radius: 5px;
  border: solid;
  border-color: rgb(48 67 98);
  padding: 8px 16px;
  font-weight: bold;
}

.reimagined-row {
  position: relative;
  width: 1080px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.reimagined-image-cont,
.product-row-one-image-cont,
.impl-row-one-image-cont,
.about-row-one-image-cont {
  width: 1080px;
  height: 525px;
}

.reimagined-image,
.product-row-one-image-cont > img,
.impl-row-one-image-cont > img,
.about-row-one-image-cont > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reimagined-overlay,
.product-header-overlay,
.impl-header-overlay,
.about-header-overlay {
  background: rgb(77 77 79 / 25%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.reimagined-content {
  position: absolute;
  top: 56px;
  color: white;
  left: 72px;
}

.reimagined-p,
.product-p,
.impl-p,
.about-p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
}

button {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: rgb(48 67 98);
  border-radius: 5px;
  border: solid;
  border-color: rgb(48 67 98);
  padding: 12px 48px;
}

.reimagined-content > button {
  margin-top: 15px;
}

.clinicians-prefer-row {
  width: 100%;
  background-color: rgb(250 250 250);
  margin-top: 64px;
  text-align: center;
  color: rgb(123 123 123);
  border-bottom: 2px solid rgb(237 237 240);
}

.clinicians-prefer-content {
  display: flex;
  padding-top: 40px;
}

.clinicians-prefer-left {
  flex-basis: 50%;
}

.clinicians-prefer-right {
  flex-basis: 50%;
}

h3 {
  font-family: "Tiempos Headline", "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 8px;
}

.clinicians-prefer-header > h3 {
  padding-top: 64px;
}

.clinicians-prefer-p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
}

.clinicians-prefer-left > p,
.clinicians-prefer-right > p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 56px;
  padding-bottom: 72px;
  font-weight: bold;
}

.clinicians-prefer-left > p {
  padding-left: 64px;
}

.clinicians-prefer-right > p {
  padding-right: 64px;
}

.learn-more-row {
  display: flex;
  width: 1080px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(82 83 81);
}

.learn-more-left {
  flex-basis: 50%;
}

.learn-more-content {
  margin-top: 56px;
}

.learn-more-content > p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
}

.learn-more-right {
  flex-basis: 50%;
  text-align: right;
}

.learn-more-right > button {
  margin-top: 56px;
}

.footer-dark-gray-background {
  width: 100%;
  background-color: rgb(82 83 81);
}

.footer-three-column-row {
  width: 1080px;
  height: 448px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  margin-top: 24px;
}

.footer-column-one {
  flex-basis: 50%;
  padding-top: 112px;
}

.footer-column-one > p {
  line-height: 28px;
}

.footer-logo {
  width: 157.33px;
  margin-bottom: 24px;
}

.footer-column-two {
  flex-basis: 25%;
  font-size: 24px;
}

.footer-column-three {
  flex-basis: 25%;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 112px;
}

.footer-three-column-row ul {
  list-style: none;
  padding-left: 0;
  font-size: 20px;
  margin-top: 0;
}

.footer-three-column-row li {
  padding-bottom: 20px;
}

.footer-bottom {
  width: 100%;
  height: 152px;
  background-color: rgb(250 250 250);
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(123 123 123);
  font-weight: bold;
}

.footer-bottom-content {
  padding-top: 63.5px;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom-content > span {
  padding-right: 40px;
}

.current-page {
  color: rgb(48 67 98);
}

.product-row-one,
.impl-row-one,
.about-row-one {
  position: relative;
  width: 1080px;
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
}

.product-content {
  position: absolute;
  top: 152px;
  color: white;
  left: 72px;
}

.impl-content {
  position: absolute;
  top: 112px;
  color: white;
  left: 72px;
}

.about-content {
  position: absolute;
  top: 160px;
  color: white;
  left: 72px;
}

.product-h2,
.impl-h2,
.about-h2 {
  font-size: 34px;
}

.product-rows {
  display: flex;
  align-items: center;
  width: 1080px;
  height: 720px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.product-rows-image {
  width: 50%;
}

.product-rows-image > img {
  max-width: 100%;
}

.product-rows-content {
  width: 50%;
}

.content-padding-left {
  padding-left: 80px;
}

.content-padding-right {
  padding-right: 80px;
}

.product-rows-content > h2 {
  font-family: "Tiempos Headline", "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: normal;
  color: rgb(70 71 70);
  letter-spacing: 0.5px;
  margin-bottom: 32px;
}

.product-rows-content > p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(70 71 70);
  line-height: 24px;
}

p.blue-color {
  color: rgb(48 67 98);
}

p.italicize {
  font-family: "Tiempos Headline", "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 24px;
}

.row-gray-background {
  width: 100%;
  background-color: rgb(250 250 250);
}

.impl-h3 {
  text-align: center;
  margin-top: 144px;
  margin-bottom: 80px;
  margin-left: auto;
  color: rgb(82 83 81);
  letter-spacing: 0.5px;
}

.impl-content-container {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.impl-content-row {
  display: flex;
  align-items: flex-end;
}

.impl-left-half > h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(82 83 81);
}

.impl-right-half > h4 {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  text-transform: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 16px;
  color: rgb(82 83 81);
  letter-spacing: 0.5px;
}

.impl-row > p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 56px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: rgb(82 83 81);
}

.gray-line {
  border-bottom: 2px solid rgb(237 237 240);
}

.about-what-we-believe,
.our-story {
  width: 640px;
  margin: 80px auto;
}

.about-what-we-believe > h2,
.our-story > h2 {
  text-align: center;
  margin-bottom: 32px;
  color: rgb(70 71 70);
}

.about-what-we-believe > p,
.our-story > p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: rgb(82 83 81);
}

.our-team-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(250 250 250);
}

.our-team-row {
  display: flex;
  justify-content: center;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.our-team-row > h3 {
  margin-top: 80px;
  margin-bottom: 48px;
  color: rgb(70 71 70);
}

.our-team-one-third {
  flex-basis: calc(100% / 3);
  text-align: center;
  margin-bottom: 48px;
}

.our-team-one-third > h3 {
  color: rgb(70 71 70);
}

.our-team-one-third > p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.25px;
  color: rgb(70 71 70);
}

.our-team-image-container {
  width: 216px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.our-team-image-container > img {
  width: 100%;
  border-radius: 50%;
}

.clinical-ad-board-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(250 250 250);
}

.clinical-ad-row {
  display: flex;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.clinical-ad-row > h3 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  color: rgb(70 71 70);
  font-size: 36px;
}

.clinical-ad-one-third {
  flex-basis: calc(100% / 3);
  text-align: center;
}

.clinical-ad-left-align {
  width: calc(100% / 3);
  text-align: center;
}

.clinical-ad-one-third > p,
.clinical-ad-left-align > p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.25px;
  color: rgb(70 71 70);
}

.clinical-ad-left-align > p {
  margin-bottom: 104px;
}

p.dark-blue {
  color: rgb(48 67 98);
}

p.bold {
  font-weight: bold;
}

.our-story > h3 {
  text-align: center;
  margin-bottom: 24px;
  color: rgb(70 71 70);
}

.blog-email-form {
  margin-top: 128px;
  text-align: center;
  color: rgb(70 71 70);
}

.blog-email-form > h3 {
  font-size: 40px;
  margin-bottom: 32px;
}

.blog-email-form > p {
  margin-bottom: 0;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.blog-email-form input[type="email"] {
  margin-top: 64px;
  margin-bottom: 80px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  border-top: none;
  border-right: none;
  border-bottom: 1px, solid, rgb(70 71 70);
  border-left: none;
  padding-bottom: 16px;
}

.blog-email-form input[type="email"]:focus {
  outline-width: 0;
}

.blog-email-form input[type="email"]::placeholder {
  color: rgb(178 178 178);
}

.blog-email-form input[type="email"]:focus::placeholder {
  color: transparent;
}

.blog-email-form input[type="submit"] {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: rgb(48 67 98);
  border-radius: 5px;
  border: solid;
  border-color: rgb(48 67 98);
  padding: 12px 48px;
  margin-bottom: 80px;
}

.blog-container {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
}

.blog-row {
  display: flex;
}

.blog-half {
  flex-basis: 50%;
}

.blog-image-container {
  width: 100%;
  height: 240px;
}

.blog-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-left-half {
  margin-right: 16px;
}

.blog-right-half {
  margin-left: 16px;
}

.blog-half > h3 {
  font-size: 30px;
  margin-top: 16px;
  color: rgb(48 67 98);
  letter-spacing: 0.25px;
}

.blog-half > p {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(70 71 70);
  margin-bottom: 56px;
}
